
button {
    background-color: purple;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px;
    font-size: 10pt;
}
.btn {
    outline-color: purple !important

}
button:hover {
    
    cursor: pointer;
}

.edit {
    color: gray;
    text-decoration: underline;
    margin: 5px;
    font-size: 11px;
    text-transform: lowercase
}

.edit:hover {
    cursor: pointer;
    color: blue
}

.card__buttons {
    display: flex;
    justify-content: space-between;
}

.btn-outline-primary {
    color: white !important;
    border-color: white !important; 
    background-color: white;  
  }

  .btn-outline-primary:hover {
    background-color: white!important;
    color: #01BC3F !important;
    border-color: white !important;   
  }