.friendsList__container{
    flex-basis: 10%;
    border-radius: 4px;
    padding: 7px;
}
.friend__card {
    opacity: 95%;
    background-color: #FF1700 !important;
    box-shadow: 0px 0px 6px 1px #FF9F3B;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
    line-height: 2.5;
}
.friend__icon {
    max-height: 50px;
    margin: 5px 0 5px 0;
}

.search {
    display: flex;
    align-items: center;
    flex-direction: column;
}





.message__card {

    opacity: 95%;
    background-color: #FF1700 !important;
    box-shadow: 0px 0px 6px 1px #FF9F3B;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
}

.save__task {
    display: flex
}