.friendsList__container{
    flex-basis: 10%;
    border-radius: 4px;
    padding: 7px;
}
.friend__card {
    opacity: 95%;
    background-color: #FF1700 !important;
    box-shadow: 0px 0px 6px 1px #FF9F3B;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
    line-height: 2.5;
}
.friend__icon {
    max-height: 50px;
    margin: 5px 0 5px 0;
}

.search {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.event__card {
    

    background: cornsilk !important;
    color: purple !important;
    font-style: italic;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px 10px 5px;
    flex-basis: 30%;
    text-align: center;
   
}

.news__card {
    
    background: cornsilk !important;
    color: purple;
    font-style: italic;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px 10px 5px;
    flex-basis: 30%;
    text-align: center;

}

.task__card {
    background-color: cornsilk;
    color: purple;
    border: 1px solid purple;
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px 10px 5px;
    flex-basis: 30%;
    line-height: 1.5;
    text-align: center;
    justify-content: space-between
}

.message__card {

    opacity: 95%;
    background-color: #FF1700 !important;
    box-shadow: 0px 0px 6px 1px #FF9F3B;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
}

.save__task {
    display: flex
}