.error {
    color: red
}

.account__container {
    display: flex;
    border-radius: 4px;
    justify-content: center;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
    padding: 50px;
    margin-top: 100px;
    width: 350px;
}

.register__card {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.formLabel {
    font-size: 15px;
    display: flex;
    align-content: flex-start;
    margin: 5px 0 5px 0
}

dialog {
    border: none;
    
}

.erase__form {
    display: none
}

.nav__container {
    display: flex;
    justify-content: space-around;
}

.login__card{
    display: flex;
    flex-direction: column;
    text-align: center
}
.login__item {
    margin-bottom: 10px;
    margin-top: 10px;
}