@import 'login.css';
@import 'buttons.css';
@import 'friendcard.css';
@import 'news.css';

.completedTask {
  display: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/rainbow1.png") !important;
    background-size: cover;
    background-attachment: fixed;
    color: white !important;
}

h1, h2, h3 {
    font-family: Creampuff;
}

.hide__content {
    display: none
}

.content__container {
    display: flex;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    margin-top: 20px;
    padding: 10px;
    background-color: #01BC3F;
}



.middle__container {
    padding: 20px;
}

header {
    background-color: #FFFF00 !important;
    color: purple !important;
    display: flex;
    justify-content: space-between !important;
}


.messageName:hover {
    cursor: pointer;
    color: blue
}

