@import 'login.css';
@import 'buttons.css';
@import 'friendcard.css';

.completedTask {
  display: none;
}

body{
    font-family: Arial, Helvetica, sans-serif
}
.hide__content {
    display: none
}

.content__container {
    display: flex;
    border: 1px solid purple;
    margin-top: 20px;
    padding: 10px;
}

