@import 'login.css';
@import 'buttons.css';
@import 'friendcard.css';
@import 'news.css';

.completedTask {
  display: none;
}

body{
    font-family: Arial, Helvetica, sans-serif
}
.hide__content {
    display: none
}

.content__container {
    display: flex;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    margin-top: 20px;
    padding: 10px;
}

/* .middle {
    margin: 10px 20px 10px 20px;
} */



.events__container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    overflow: scroll;
    height: 210px;
    justify-content: center;

}

.middle__container {
    padding: 20px;
}

.task__container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    overflow: scroll;
    height: 210px;
    justify-content: center;
}

.messageName:hover {
    cursor: pointer;
    color: blue
}

